<div class="container">
  <div class="row offset-2">
    <div class="center">
      <p class="text-success"><%= flash[:notice] %></p>
       <img src='/assets/default_image.jpeg' width="300" height="200">
    </div>
    <div class="col"><br>
    <br>
    <br>
      <p>ようこそ、ながのCakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>
    </div>

  </div><br>
  <br>
  <div class="row">
  <h3><strong>新着商品</strong></h3>
  </div>
  <div class="row">
        <div class="col-3">
    <% @items.last(4).each do |item| %>

      <%= link_to public_item_path(item.id) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'default_image.jpeg', size: "150x150" %>
        <% end %>
      <% end %>
        <div class="card-body">
          <div class="card-text"><%= item.name %></div>
          <div class="card-text">¥<%= item.price.to_s(:delimited) %></div>
        </div>
    <% end %>
      </div>
  </div>
    </div>
    <div class="col text-right">
      <u><%= link_to "全ての商品を見る >", public_items_path %></u>
    </div>
  </div>
</div>
